# NVFLARE Federated Statistics Visualization

#### dependencies

To run examples, you might need to install the dependencies
* numpy
* pandas
* wget
* matplotlib
* jupyter
* notebook

These are captured in the requirements.txt

## Tabular Data Statistics Visualization
In this example, we demonstate how to visualize the results from the statistics of tabular data. The visualization requires json, pandas, matplotlib modules as well as nvflare visualization utlities.

In [1]:
import json
import pandas as pd

from nvflare.app_opt.statistics.visualization.statistics_visualization import Visualization

First, copy the resulting json file to demo directory. In this example, resulting file is called adults_stats.json. Then load json file

In [2]:
with open('adults_stats.json', 'r') as f:
    data = json.load(f)

Initialize the Visualization utilities

In [3]:
vis = Visualization()

### Overall Statistics

vis.show_statis() will show the statistics for each features, at each site for each dataset

In [4]:

vis.show_stats(data = data)

fnlwgt

,count,mean,sum,stddev,histogram
site-2-train,13025,188481.0292,2.454965e+09,105450.3575,"[[12285.0, 86190.75, 1834], [86190.75, 160096...."
site-2-test,3256,193254.5654,6.292369e+08,106697.5339,"[[12285.0, 86190.75, 415], [86190.75, 160096.5..."
site-1-train,26049,190351.4321,4.958464e+09,106042.9510,"[[12285.0, 86190.75, 3569], [86190.75, 160096...."
site-1-test,6512,187486.0160,1.220909e+09,103530.8485,"[[12285.0, 86190.75, 935], [86190.75, 160096.5..."
Global-train,39074,189727.9485,7.413430e+09,105848.1066,"[[12285.0, 86190.75, 5403], [86190.75, 160096...."
Global-test,9768,189408.8658,1.850146e+09,104626.9479,"[[12285.0, 86190.75, 1350], [86190.75, 160096...."

Education-Num

,count,mean,sum,stddev,histogram
site-2-train,13025,10.0551,130968.0,2.5686,"[[1.0, 1.75, 30], [1.75, 2.5, 62], [2.5, 3.25,..."
site-2-test,3256,10.1440,33029.0,2.5624,"[[1.0, 1.75, 2], [1.75, 2.5, 17], [2.5, 3.25, ..."
site-1-train,26049,10.0779,262518.0,2.5685,"[[1.0, 1.75, 40], [1.75, 2.5, 140], [2.5, 3.25..."
site-1-test,6512,10.0920,65719.0,2.5896,"[[1.0, 1.75, 11], [1.75, 2.5, 28], [2.5, 3.25,..."
Global-train,39074,10.0703,393486.0,2.5685,"[[1.0, 1.75, 70], [1.75, 2.5, 202], [2.5, 3.25..."
Global-test,9768,10.1093,98748.0,2.5806,"[[1.0, 1.75, 13], [1.75, 2.5, 45], [2.5, 3.25,..."

Capital Gain

,count,mean,sum,stddev,histogram
site-2-train,13025,1052.3022,13706236.0,7430.6966,"[[0.0, 4999.95, 12387], [4999.95, 9999.9, 351]..."
site-2-test,3256,1200.3259,3908261.0,8168.3767,"[[0.0, 4999.95, 3091], [4999.95, 9999.9, 88], ..."
site-1-train,26049,1080.5046,28146065.0,7411.4217,"[[0.0, 4999.95, 24733], [4999.95, 9999.9, 701]..."
site-1-test,6512,1066.2253,6943259.0,7280.3835,"[[0.0, 4999.95, 6180], [4999.95, 9999.9, 177],..."
Global-train,39074,1071.1036,41852301.0,7417.7692,"[[0.0, 4999.95, 37120], [4999.95, 9999.9, 1052..."
Global-test,9768,1110.9255,10851520.0,7587.7807,"[[0.0, 4999.95, 9271], [4999.95, 9999.9, 265],..."

Capital Loss

,count,mean,sum,stddev,histogram
site-2-train,13025,85.4210,1112608.0,397.5111,"[[0.0, 217.8, 12431], [217.8, 435.6, 2], [435...."
site-2-test,3256,97.8133,318480.0,424.6664,"[[0.0, 217.8, 3088], [217.8, 435.6, 0], [435.6..."
site-1-train,26049,85.9272,2238317.0,399.6418,"[[0.0, 217.8, 24854], [217.8, 435.6, 6], [435...."
site-1-test,6512,92.8107,604383.0,415.9555,"[[0.0, 217.8, 6193], [217.8, 435.6, 0], [435.6..."
Global-train,39074,85.7584,3350925.0,398.9278,"[[0.0, 217.8, 37285], [217.8, 435.6, 8], [435...."
Global-test,9768,94.4782,922863.0,418.8642,"[[0.0, 217.8, 9281], [217.8, 435.6, 0], [435.6..."

Hours per week

,count,mean,sum,stddev,histogram
site-2-train,13025,40.4143,526396.0,12.4146,"[[1.0, 5.9, 81], [5.9, 10.8, 219], [10.8, 15.7..."
site-2-test,3256,40.3041,131230.0,12.7366,"[[1.0, 5.9, 32], [5.9, 10.8, 57], [10.8, 15.7,..."
site-1-train,26049,40.4280,1053109.0,12.3635,"[[1.0, 5.9, 173], [5.9, 10.8, 422], [10.8, 15...."
site-1-test,6512,40.4753,263575.0,12.2840,"[[1.0, 5.9, 32], [5.9, 10.8, 109], [10.8, 15.7..."
Global-train,39074,40.4234,1579505.0,12.3804,"[[1.0, 5.9, 254], [5.9, 10.8, 641], [10.8, 15...."
Global-test,9768,40.4182,394805.0,12.4363,"[[1.0, 5.9, 64], [5.9, 10.8, 166], [10.8, 15.7..."

### select features statistics using white_list_features 
user can optionally select only show specified features via white_list_features arguments. In the following, we only selected three features instead of all the features

In [5]:
vis.show_stats(data = data, white_list_features= ['Age', 'fnlwgt', 'Hours per week'])

Age

KeyError: 'Age'

### Histogram Visualization
We can use vis.show_histograms() to visualize the histogram. Before we do that, we need set some iPython display setting to make sure the graph displayed in full cell.

In [ ]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100%  depth:100% !important; }</style>"))

The following command display histograms for numberic features. The result shows both main plot and show sub-plots

In [ ]:
vis.show_histograms(data = data)

# Display Options
Similar to other statistics, we can use white_list_features to select only few features to display histograms. We can also use display_format="percent" to allow all dataset and sites to be displayed in the same scale. User can set 

* display_format: "percent" or "sample_count"
* white_list_features: feature names
* plot_type : "both" or "main" or "subplot"

#### show percent display format with selected features
In the following, we display only feature "Age" in "percent" display_format, with "both" plot_type

In [ ]:
vis.show_histograms(data = data, display_format = "percent", white_list_features= ['Age'])

#### display main plot_type with selected features
In this example, we display two features in "sample_counts" display_format, with "main" plot_type

In [ ]:
vis.show_histograms(data, "sample_counts", ['Age', 'Hours per week' ], plot_type="main")

#### selected features with subplot plot_type
In next example, we display one feature in "sample_counts" display_format, with "subplot" plot_type

In [ ]:
vis.show_histograms(data, "sample_counts", ['Age', 'Hours per week' ], plot_type="subplot")

### Tip: Avoid repeated calculation
If you intend to plot histogram main plot and subplot separately, repeated calling show_histogram with different plot_types is not efficicent, as it repeatewd calculate the same set of Dataframes. To do it efficiently, you can use the following functions instead show_histogram methods. This avoid the duplicated calculation in show_histograms. But if you intend to show both plots, the show_histogram() should be used

In [ ]:
 feature_dfs = vis.get_histogram_dataframes(data, display_format="percent" )
   
 vis.show_dataframe_plots(feature_dfs, plot_type="main")